<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<bean class="org.springframework.security.web.bind.support.AuthenticationPrincipalArgumentResolver" />
	<bean id="requestCache" class="org.springframework.security.web.savedrequest.HttpSessionRequestCache" />
	<bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

	<bean id="userService" class="com.alphatek.tylt.repository.UserManagerJdbcDao">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

	<bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<constructor-arg name="loginFormUrl" value="${login.url}" />
	</bean>

	<bean id="defaultAccessDeniedHandler" class="com.alphatek.tylt.web.servlet.mvc.controller.error.DefaultAccessDeniedHandler">
		<constructor-arg name="requestCache" ref="requestCache" />
		<constructor-arg name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<property name="errorPage" value="${error.url}" />
	</bean>

	<bean id="tokenRepository" class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="rememberMeServices" class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
		<constructor-arg name="key" value="${env}${token.value}" />
		<constructor-arg name="userDetailsService" ref="userService" />
		<constructor-arg name="tokenRepository" ref="tokenRepository" />
		<property name="parameter" value="${token.name}" />
		<property name="cookieName" value="${token.name}" />
		<property name="tokenValiditySeconds" value="${token.validity.seconds}" />
	</bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userService">
			<security:password-encoder ref="passwordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>

	<security:http pattern="/favicon.ico" security="none" />
	<security:http pattern="/resources/**" security="none" />
	<security:http entry-point-ref="authenticationEntryPoint" auto-config="true" use-expressions="true" authentication-manager-ref="authenticationManager">
		<security:csrf />
		<security:request-cache ref="requestCache" />
		<security:remember-me services-ref="rememberMeServices" key="${env}${token.value}" />
		<security:access-denied-handler ref="defaultAccessDeniedHandler" />
		<security:intercept-url pattern="${root.url}" access="permitAll" />
		<security:intercept-url pattern="${home.url}" access="permitAll" />
		<security:intercept-url pattern="${login.url}" access="permitAll" />
		<security:intercept-url pattern="${logout.url}" access="permitAll" />
		<security:intercept-url pattern="${registration.url}/**" access="permitAll" />
		<security:intercept-url pattern="${account.url}" access="fullyAuthenticated" />
		<security:intercept-url pattern="${admin.url}/**" access="fullyAuthenticated and hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="${root.url}**" access="hasRole('ROLE_USER')" />
		<security:form-login login-page="${login.url}" default-target-url="/default" login-processing-url="${authentication.url}"
			username-parameter="username" always-use-default-target="false"
			password-parameter="password" authentication-failure-url="${login.url}?error" />
		<security:logout logout-url="${logout.url}" logout-success-url="${login.url}?logout" />
	</security:http>
</beans>