@charset "UTF-8";
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
#_borderRadiusBackgroundClip {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* Mixin */
/* Implementation */
body,
button {
  font-size: 16px;
  font-family: "Lato", "Trebuchet MS", Helvitica, sans-serif;
}
#formContainer {
  max-width: 350px;
}
.section,
.form-signin {
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  padding: 20px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
#loginContainer .page-header h1 {
  margin-right: 15px;
}
#loginContainer .page-header .alert {
  margin-bottom: 0;
}
#rememberMe {
  vertical-align: text-top;
  margin-right: 5px;
}
fieldset legend [class^="icon-"],
.cell fieldset legend [class*="icon-"] {
  vertical-align: baseline;
}
.control-group .controls input,
.control-group .controls select,
.control-group .controls .input-prepend {
  margin-bottom: 0;
}
#buttonContainer {
  clear: both;
  padding: 10px 0;
}
