@charset "UTF-8";

.rounded-corners(@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.05) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing: @type;
	box-sizing: @type;
}

body, button {
	font-size: 16px;
	font-family: "Lato", "Trebuchet MS", Helvitica, sans-serif;
}

#formContainer {
	max-width: 350px;
}

.section {
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	padding: 20px;
	.drop-shadow;
	.box-sizing;
	.rounded-corners(5px);
}

.form-signin:extend(.section all) {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#loginContainer .page-header h1 {
	margin-right: 15px;
}

#loginContainer .page-header .alert {
	margin-bottom: 0;
}

#rememberMe {
	vertical-align: text-top;
	margin-right: 5px;
}

fieldset legend [class^="icon-"], .cell fieldset legend [class*="icon-"] {
	vertical-align: baseline;
}

.control-group .controls input, .control-group .controls select, .control-group .controls .input-prepend {
	margin-bottom: 0;
}

#buttonContainer {
	clear: both;
	padding: 10px 0;
}