@charset "UTF-8";

#formContainer {
	max-width: 350px;
}

.form-signin {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#loginContainer .page-header h1 {
	margin-right: 15px;
}

#loginContainer .page-header .alert {
	margin-bottom: 0;
}

#rememberMe {
	vertical-align: text-top;
	margin-right: 5px;
}

fieldset legend [class^="icon-"], .cell fieldset legend [class*="icon-"] {
	vertical-align: baseline;
}

.control-group .controls input, .control-group .controls select, .control-group .controls .input-prepend {
	margin-bottom: 0;
}

#buttonContainer {
	clear: both;
	padding: 10px 0;
}