@CHARSET "UTF-8";

/* IE6 Fixed Position Jitter Fix */
/** html,* html body {*/
	/*background-attachment: fixed;*/
/*}*/

#showtime {
	display: none;
	top: 50px;
	left: 50%;
  color: #525252;
  font-family: Ubuntu, "Trebuchet MS", Helvitica, sans-serif;
	-webkit-font-smoothing: antialiased !important;
	border: 1px solid #bcbcbc;
  border: 1px solid rgba(0, 0, 0, 0.3);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: #525252 0 0 15px;
	-webkit-box-shadow: #525252 0 0 15px;
	box-shadow: #525252 0 0 15px;
	z-index: 9998;
	text-align: center;
}

.positionfixed #showtime {
	position: fixed;
}

/* IE6 position fixed Top */
.no-positionfixed #showtime {
	position: absolute;
	top: expression(ie = (document.compatMode == "CSS1Compat" ? document.documentElement.scrollTop + 50 : body.scrollTop + 50) + "px");
}

#showtimeContainer {
	width: 350px;
	min-height: 32px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	z-index: 9999;
}

#showtimeContent {
	width: auto;
	height: auto;
	min-height: 1.5em;
	padding: 5px;
	background-color: #ffffff;
	text-align: justify;
}

#showtimeHeader {
	display: none;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #bcbcbc;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background: #efefef; /* Old browsers */
	background-image: -moz-linear-gradient(top, #efefef, #d9d9d9);
	background-image: -o-linear-gradient(top, #efefef, #d9d9d9);
	background-image: -webkit-linear-gradient(top, #efefef, #d9d9d9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #d9d9d9));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#efefef, EndColorStr=#d9d9d9);
	background-image: linear-gradient(to bottom, #efefef, #d9d9d9);
	min-height: 24px
}

#showtimeTitle {
	text-align: left;
	font-size: 1em;
	margin: 0 5px;
	padding-bottom: 2px;
	line-height: 1.4em;
	text-shadow: 1px 1px 2px rgba(82, 82, 82, 0.3);
}

#titleButtons {
	position: absolute;
	top: 2px;
	right: 2px;
	padding: 0;
	margin: 0;
}

#titleButtons a.showtime-button {
	width: 20px;
	height: 20px;
	padding: 0;
	margin-left: 2px;
}

.no-boxsizing #titleButtons a.showtime-button {
	width: 16px;
	height: 16px;
}

#titleButtons a.showtime-button:hover {
	cursor: pointer;
}

a.showtime-button span {
	margin: 0;
}

#showtimeFooter {
	position: relative;
	bottom: 0;
	right: 0;
	padding: 2px;
	display: none;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	border-top: 1px solid #bcbcbc;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background: #efefef; /* Old browsers */
	background-image: -moz-linear-gradient(top, #efefef, #d9d9d9);
	background-image: -o-linear-gradient(top, #efefef, #d9d9d9);
	background-image: -webkit-linear-gradient(top, #efefef, #d9d9d9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #d9d9d9));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#efefef, EndColorStr=#d9d9d9);
	background-image: linear-gradient(to bottom, #efefef, #d9d9d9);
}

#footerButtons {
	text-align: right;
}

#footerButtons a, a.showtime-button {
	display: inline-block;
	color: #525252;
	font-weight: bold;
	font-size: 0.9em;
	font-family: Ubuntu, "Trebuchet MS", Helvitica, sans-serif;
	/*text-shadow: 1px 1px 2px rgba(82, 82, 82, 0.3);*/
	width: 60px;
	cursor: default;
	background: #e6e6e6; /* Old browsers */
	background-image: -moz-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	background-image: -webkit-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff 0%), color-stop(1, #e6e6e6 100%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff 0%, EndColorStr=#e6e6e6 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff 0%, EndColorStr=#e6e6e6 100%)";
	background-image: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
	border: 1px solid #bcbcbc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 4px;
	margin: 0 0 0 5px;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#footerButtons a:hover, a.showtime-button:hover {
	box-shadow: 0 0 2px rgba(82, 82, 82, 0.3);
	text-decoration: none;
	cursor: pointer;
}

.no-rgba #footerButtons a:hover, .no-rgba a.showtime-button:hover {
	border-color: #a2a2a2;
}

#overlay {
	display: none;
	background-color: transparent;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9997;
}

.no-cssfilters #overlay {
	background-color: rgba(239, 239, 239, 0.75);
}

.no-cssfilters.no-rgba #overlay {
	background-color: #efefef;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";  /* IE 8 */
	filter: alpha(opacity=75); /* IE 5-7 */
}

.blur {
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-transition: filter 0.5s;
	-o-transition: filter 0.5s;
	-webkit-transition: filter 0.5s;
	transition: filter 0.5s;
	-webkit-backface-visibility: hidden
}

.no-blur {
	filter: blur(0);
	-webkit-filter: blur(0);
	-moz-transition: filter 0.5s;
	-o-transition: filter 0.5s;
	-webkit-transition: filter 0.5s;
	transition: filter 0.5s;
	-webkit-backface-visibility: hidden
}

.positionfixed #overlay {
	position: fixed;
}

.no-positionfixed #overlay {
	position: absolute;
}

#showtimeLoading {
	font-weight: bold;
	background-color: #ffffff;
	height: 32px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#showtimeLoading img {
	vertical-align: middle;
	margin-right: 5px;
}

#showtimeLoading span {
	line-height: 32px;
}